.container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    height: var(--header-height);
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 25px;
    justify-content: space-around;
}

