:root {
    --header-height: calc(20px + 60px);
    --map-right-margin: 30px;

    --options-width: 270px;
    --create-form-margin-top: 40px;
    --create-form-height: 500px + var(--create-form-margin-top);

}

.container {
    width: 100%;
    height: calc(100% + var(--create-form-height));

    display: flex;
    flex-direction: column;
    position: relative;
}

.header {
    margin-top: 20px;
}

.content {
    width: 100%;
    height: calc(100% - 20px);
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    position: relative;
}

.mapContainer {
    display: flex;
    flex-direction: row;
    height: calc(100% - var(--create-form-height) - calc(var(--create-form-margin-top) / 2) - var(--header-height));
    width: 100%;
}

.map {
    height: 100%;
    min-width: calc(100% - var(--options-width) - var(--map-right-margin));
    margin-right: var(--map-right-margin);
    display: flex;
}

.options {
    height: 100%;
    width: var(--options-width);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    background: var(--secondary-color);
    padding: 20px 10px;
}

.createForm {
    margin-top: var(--create-form-margin-top);
    height: var(--create-form-height);
    width: 100%;
}
