.container {
    margin: 0 40px;
    width: calc(100% - 80px);

    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;

    height: 100%;
    position: absolute;
}

.page {
    margin-top: 55px;
    height: 100%;
    width: 100%;
}