.button {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

.icon {
    height: 30px;
    width: 30px;
}

.active {
    background: rgba(208, 208, 208, 0.63);
}
