.submitContainer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.submit {
    background: var(--button_primary_background);
    width: 120px;
    height: 42px;
}

.lat, .lng {
    width: 120px;
}

.lng {
    margin-left: 12px !important;
}