/* Form item */
.vkuiFormItem__top {
    padding-top: 2px;
    padding-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black !important;

    font-family: 'Montserrat', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 26px !important;
}

.vkuiFormLayoutGroup--horizontal .vkuiFormItem+.vkuiFormItem {
    margin-left: 8px !important;
}

.vkuiFormField:focus-within, vkuiFormField__border, .vkuiFormField :focus~.vkuiFormField__border, .vkuiChipsInput--focused .vkuiFormField__border {
    border-color: #3e8e41 !important;
}
