.container {
    position: relative;

    height: 100%;
    width: 100%;

    border-radius: 20px;
    border-style: hidden;
    overflow: hidden;
}

.mapContainer {
    position: absolute;

    height: 100%;
    width: 100%;
}

.inspector {
    left: 50%;
    bottom: 5%;
    height: 40px;
    width: 450px;

    transform: translate(-50%, 0);

    border-radius: 10px;
    overflow: hidden;
    background-color: #6e6e6e;
}

.overMapObject {
    position: absolute;
    z-index: 401;
}
