.container {
    display: flex;
    flex-direction: column;
}

.markerForm {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    border-radius: 20px;
    background: var(--secondary-color);
    overflow: hidden;
    padding: 20px 10px;
}

.continueButton {
    height: var(--continueButtonHeight);
    width: 100%;
    margin-top: 15px;
    border-radius: 6px;
    overflow: hidden;
}

.background {
    flex-grow: 1;
    width: 100%;
    border-radius: 20px;
    background: var(--secondary-color);
}